/* .feedbackStars {
  font-size: 4rem;
  color: #0b113b;
  display: inline-block;
}

.feedbackStarsRating {
  color: #00ffff;
} */

.starBeforeClick {
  filter: brightness(15%);
}

.starAfterClick {
  filter: brightness(100%);
}

.starBeforeClick:hover {
  filter: brightness(100%);
  cursor: pointer;
}
