/* .feedbackStars {
  font-size: 4rem;
  color: #0b113b;
  display: inline-block;
}

.feedbackStarsRating {
  color: #00ffff;
} */
/* 
#rating-page




.starBeforeClick {
  filter: brightness(15%);
}

.starAfterClick {
  filter: brightness(100%);
}

#stars-container {
  text-align: left;
  direction: rtl;
}

#stars-container > svg:hover {
  filter: brightness(75%);
  transition: 300ms;
  cursor: pointer;
}

#stars-container > svg:hover ~ svg {
  filter: brightness(75%);
  transition: 300ms;
} */
